* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.navbar {
  background: #fff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li:last-child a {
  margin-left: 20px;
}

.navbar ul li a:hover {
  color: rgba(103, 85, 235, 1);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}
.card {
  background: white;
  color: black;
  border-radius: 15px;
  padding: 40px;
  margin-bottom: 80px;
  max-width: 400px;
}
.btn {
  display: inline-block;
  padding: 13px 20px;
  background: rgba(103, 85, 235, 0.35);
  border-radius: 12px;
  width: 110px;
  text-align: center;
}

.btn-primary {
  display: inline-block;
  padding: 13px 20px;
  background: rgba(103, 85, 235, 1);
  border-radius: 12px;
  width: 166px;
  text-align: center;
  color: white;
  transition: 0.5s;
}
.btn-light {
  display: inline-block;
  padding: 13px 20px;
  background: rgba(103, 85, 235, 0.64);
  border-radius: 12px;
  width: 166px;
  text-align: center;
  color: white;
  transition: 0.5s;
}

.btn-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

.btn-yellow {
  display: inline-block;
  padding: 13px 20px;
  background: rgba(255, 204, 0, 1);
  border-radius: 12px;
  width: 207px;
  text-align: center;
  font-weight: 600;
}
.btn-block {
  display: block;
  width: 100%;
}
.text-xxl {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
  margin-top: 100px;

  margin-bottom: 40px;
}

.text-xl {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
  margin-top: 100px;

  margin-bottom: 40px;
}

.text-md {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 40px 0 20px;
  margin-top: 100px;
  width: 700px;
  margin-bottom: 40px;
}
.text-sm {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 20px 0 10px;
  margin-top: 40px;
  width: 330px;
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}
.hero {
  margin-bottom: 50px;
}

.hero .hero-content {
  width: 70%;
}

.hero .hero-text {
  width: 70%;
  margin-bottom: 40px;
  font-size: 1.2rem;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.video {
  padding: 20px 0 20px;
}

.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.video-preview {
  margin-bottom: 40px;
}

.bg-black {
  background: #000;
  color: #fff;
}

.bg-light {
  background: rgba(223, 222, 226, 1);
  color: #000000;
}
.bg-dark {
  background: rgba(30, 30, 44, 1);
  color: #fff;
}

.testimonials {
  padding: 40px 0;
}
.testimonials .testimonials-heading {
  width: 600px;
  margin-bottom: 40px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.testimonials .card p:nth-child(2) {
  margin-top: 30px;
  font-weight: bold;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
  align-items: center;
}

.pricing-card-subheading {
  margin-bottom: 20px;
}

.pricing .pricing-card-price {
  margin-bottom: 30px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.pricing ul {
  margin: 30px 0;
}

.pricing ul li {
  margin-bottom: 20px;
}

.pricing ul li i {
  margin-right: 10px;
}

.faq {
  padding: 40px 0;
}
.faq-content {
  margin-top: 60px;
}

.faq-group {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-top: -50px;
}

.faq-group .faq-group-header {
  padding: 20px 0;
  margin-bottom: 5px;
  position: relative;
}

.faq-group .faq-group-header h4 {
  font-weight: 600;
  width: 95%;
}
.faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 100px;
  cursor: pointer;
}

.faq-group .faq-group-body {
  display: none;
}

.faq-group .faq-group-body.open {
  display: block;
}

.faq ul.faq-menu {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ccccce;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.faq ul.faq-menu li {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.faq ul.faq-menu li.active {
  background: rgba(103, 85, 235, 1);
  color: #fff;
}

.footer {
  padding: 40px 0;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul li {
  line-height: 2.5;
}

.footer a {
  color: #ccc;
}

.footer i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: start;
  margin-top: 100px;
}

.footer .card {
  margin: 20px 30px 30px 0;
}

.footer input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

.logo-footer {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr;
  gap: 5px;
}

.logo-text {
  color: rgba(103, 85, 235, 1);
}

/* Hamburger Button*/

.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
}

/* Mobile Menu*/

.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
}
.mobile-menu ul li {
  margin: 10px 0;
}

.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}
/* Media Queries*/

@media (max-width: 960px) {
  .text-xxl {
    font-size: 2rem;
  }
  .text-xl {
    font-size: 1.5rem;
  }
  .text-md {
    font-size: 1rem;
  }
}

@media (max-width: 670px) {
  .navbar .main-menu {
    display: none;
  }
  .hero-image img {
    display: none;
  }
  .navbar .hamburger-button {
    display: block;
  }

  .hero .container {
    background: url("../images/Mobile-image.png") no-repeat;
    background-size: 520px 500px;
    background-position: bottom;
    height: 900px;
  }

  .hero .hero-content {
    width: 100%;
  }
  .hero .hero-content,
  .hero .hero-text {
    width: 100%;
    text-align: center;
  }
  .hero .hero-buttons .btn {
    margin-bottom: 5px;
    display: block;
    width: 100%;
  }
  .hero .hero-buttons {
    margin-bottom: 30px;
  }
  .testimonials .testimonials-heading {
    max-width: 100%;
    text-align: center;
  }
  .testimonials .testimonial-grid {
    margin: 0px auto 80px auto;
    max-width: 80%;
  }
  .testimonials .testimonial-grid,
  .pricing .pricing-grid,
  .footer .footer-grid {
    grid-template-columns: 1fr;
  }
  .footer .card {
    margin: 30px auto 30px auto;
    max-width: 400px;
  }
  .pricing .card {
    margin: 0px auto 30px auto;
  }
  .footer .footer-grid {
    text-align: center;
  }
}

@media (max-width: 500px) {
}
